
###> symfony/framework-bundle ###
/.env
/.env.local
/.env.local.php
/.env.*.local
/.env
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
config/jwt/*
/public/imagesperso
/public/favicon
/templates/slideshow/slideshow.html
/templates/link/link.html
###< symfony/framework-bundle ###

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###
.DS_Store
