#photocontrol {
  display: block;
  position: relative;
  width: 100%;
  height: 95%;
  margin-height: 0px; 
  overflow:hidden;
  z-index: 0;
}
#fullsized_timeSlider{
  position : absolute;
  width: 200px;
  top: 10px;
  right: 145px;
  display: block;
}
#fullsized_go_prev, #fullsized_go_next {
  position: absolute;
  top: 40%;
  display: block;
  width: 32px;
  height: 126px;
}
#fullsized_go_prev {
  left: 0;
  background: url('jquery-fullsizable.png');
}
#fullsized_go_prev:hover {
    background-position: 0 -126px;
}
#fullsized_go_next {
  right: 0;
  background: url('jquery-fullsizable.png') -32px 0;
}
#fullsized_go_next:hover {
  background-position: -32px -126px;
}
#fullsized_close, #fullsized_fullscreen, #fullsized_play_id, #fullsized_download {
  position: fixed;
  top: 0;
  display: block;
  width: 32px;
  height: 32px;
}
#fullsized_close {
  right: 0;
  background: url('jquery-fullsizable.png') -64px 0;
}
#fullsized_close:hover {
  background-position: -64px -32px;
}

.fullsized_play {
  right: 80px;
  background: url('jquery-fullsizable.png') -96px -128px;
}

#fullsized_download {
  left: 78px;
  background: url('/images/dwnld.png') -96px -128px;
}
#fullsized_download:hover {
  background-position: -96px -98px;
}

.fullsized_play:hover {
  /*background-position: -dd96px -160px;*/
    background: url('jquery-fullsizable.png') -96px -160px;
}

.fullsized_playing {
   background-position: -64px -128px
}

.fullsized_playing:hover {
   background-position: -64px -160px;
}

#fullsized_fullscreen {
  right: 40px;
  background: url('jquery-fullsizable.png') -96px 0;
  overflow:hidden;

}
#fullsized_fullscreen:hover {
  background-position: -96px -32px;
}
:fullscreen #fullsized_fullscreen { background-position: -96px -64px; &:hover {background-position: -96px -96px;} }
:-webkit-full-screen #fullsized_fullscreen { background-position: -96px -64px; &:hover {background-position: -96px -96px;} }
:-moz-full-screen #fullsized_fullscreen { background-position: -96px -64px; &:hover {background-position: -96px -96px;} }

#fullsized_image_holder img {
	display: block;
	margin-left: auto;
  margin-right : auto;
  
}

#fullsized_comment {
    width: 100%;  
    min-width: 20px;
    bottom: 50px; 
    text-align: center;  
    background-color: rgba(0,0,0,0.8);  
    position: absolute;  
    color: #fff;  
    right: 0; 
    z-index: 100000;
}
