nav {

	float: right;
	padding: 20px;	

}

#menu-icon {

	display: hidden;
	width: 40px;
	height: 40px;
	background: #4C8FEC url(/images/menu-icon.png) center;

}

a:hover#menu-icon {

	background-color: #444;
	border-radius: 4px 4px 0 0;
}

ul {

	list-style: none;

}

li {

	display: inline-block;
	float: left;
	padding: 10px;
	font-size:16px;
	line-height: 16px;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #fff;
	text-transform: uppercase;
	padding: 9px 20px 9px;


}

li:hover {
	background-color: #CC0000;

}

.current {
	background-color: #CC0000;
}

/*MEDIA QUERY*/
@media only screen and (max-width : 640px) {
	/*@media only screen and (hover: none) and (pointer: coarse) {*/

	header {

		position: absolute;

	}

	#menu-icon {

		display:inline-block;

	}

	nav ul, nav:active ul { 

		display: none;
		position: absolute;
		padding: 20px;
		background: #000;
		border: 5px solid #444;
		right: 20px;
		top: 60px;
		width: 50%;
		border-radius: 4px 0 4px 4px;

	}

	nav li {

		text-align: center;
		width: 100%;
		padding: 10px 0;
		margin: 0;

	}

	nav:hover ul {

		display: block;

	}
}