{% extends 'main.html.twig' %}


{% block body %}
        <link rel="stylesheet" type="text/css" href="js/style.css" />
        {{ content|raw }}
        <div id="wowslider-container1">
        <div class="ws_images"><ul>
                {% for image in diapo %}
                <li><img src="{{ image.file }}" id="{{ image.id }}"/></li>
                {% endfor %}
        </ul></div>
        <script type="text/javascript" src="js/wowslider.js"></script>
        <script type="text/javascript" src="js/script.js"></script>
{% endblock %}