{% extends 'main.html.twig' %}


{% block body %}
        <link rel="stylesheet" type="text/css" href="js/style.css" />

      <h2><span>Bienvenue sur notre site <span class="col1">Photos</span></span></h2>
        <center>
        <div class="grid_5">
        <h3><span class="col1">Del</span></h3>
        <img src='images/delr1_del.jpg' class='imageleft' width="100px">
Un site repens&#233; cr&#233;&#233; de toutes pi&#232;ces par Erwan, qui nous permet (j&#39;ai encore des choses &#224; apprendre ;)) de vous faire partager des photos et vid&#233;os de nos soir&#233;es, vacances, sorties...<br /><br />
N&#39;h&#233;sitez pas &#224; nous laisser des commentaires et si vous souhaitez obtenir des photos sur papier, &quot;&#224; l&#39;ancienne&quot;, il suffit de nous le demander :)<br /><br />
A vous de jouer!
        </div>
        <div class="grid_5 rightalign">
        <h3><span class="col1">Erwan</span></h3>
        <img src='images/delr1_r1.jpg' class='imageright' width="100px">
        Bonjour et bienvenue sur notre site Internet. Son but est de pouvoir vous faire partager quelques moments de notre vie, au travers des photos que nous prenons.<br /><br /> La photo &#233;tant l'une de mes passions, j&#39;esp&#232;re que ces quelques clich&#233;s vous plairont et vous permettront de vous rem&#233;morer de bons moments pass&#233;s en notre compagnie. 
<br /><br />
Bon visionnage et &#224; bient&#244;t ! 
        </div>
        </div></center>
        <div id="wowslider-container1">
        <div class="ws_images"><ul>
                {% for image in diapo %}
                <li><img src="{{ image.file }}" id="{{ image.id }}"/></li>
                {% endfor %}
        </ul></div>
        <script type="text/javascript" src="js/wowslider.js"></script>
        <script type="text/javascript" src="js/script.js"></script>


{% endblock %}