{% extends 'main.html.twig' %}


{% block body %}
<h3>
 <span class="col1">Nos liens</span>
</h3>
<div class="lst">
  <ul class="lnk">
    <li class="lnk">
            <a href="http://www.enviephoto.fr/" target="_blank">

      <img src="images/enviephoto.png" width="200px">
      <h6>www.enviephoto.fr</h6>
      <p>Le blog pour apprendre les bases de la photographie.</p>
        </a>
    </li>

    <li class="lnk">
      <a href="http://www.onzebouge.fr/" target="_blank">

      <img src="images/onzebouge.png" width="200px">
      <h6>www.onzebouge.fr</h6>
      <p>Suivez Amel & Vinz dans leurs voyages autour du monde</p>
      </a>
    </li>

    <li class="lnk">
      <a href="http://cuisinedegaelle.canalblog.com/" target="_blank">
      <img src="images/bloggaelle.png" width="200px">
      <h6>A la table de Gaelle</h6>
      <p>Les meilleures recettes du web :)</p>
      </a>
    </li>

  </ul>
</div>
{% endblock %}